extends ../../layout/layout.pug

include ../../components/common/button
include ../../components/common/input

block head
  link(rel='stylesheet', href='/styles/signup-phone.css')

block back-page
  a(href='/signup/term')
    img(src='/assets/icons/arrow-left.png', alt='뒤로가기')

block next-page
  p#signup-phone-next-page.signup-phone-next-page 다음

block content
  .signup-phone-wrapper
    form#signup-phone-form.signup-phone-form
      +input("휴대전화", "phone", "text", "전화번호를 입력해주세요.", "", true, true, 13).phone
      +button("인증번호 받기","#ffffff", "#000000", "#bbbbbb")#signup-phone-validate-button.signup-phone-validate-button.w-full(
        type='submit'
      )

    form#signup-phone-verified-form.signup-phone-verified-form.hide
      +input("인증번호", "verified-code", "text", "인증번호를 입력해주세요.", "", false, false, 4).verified-code
      p#signup-phone-reload-code.signup-phone-reload-code 인증번호 다시받기

block script
  script(src='/js/signup-phone.js', type='module')
