extends ../../layout/layout.pug

block head
  link(rel='stylesheet', href='/styles/signup-phone.css')

block back-page
  a(href='/signup/term')
    img(src='/assets/icons/arrow-left.png', alt='뒤로가기')

block next-page
  p.signup-phone-next-page 다음

block content
