extends ../../layout/layout.pug

include ../../components/common/button

block head 
    link(rel="stylesheet", href="/styles/signin.css")

block back-page
    img(src="/assets/icons/close.png", alt="뒤로가기")
    

block content
    .signin-wrapper
        form.signin-form
            input.input-underline(type="text", placeholder="아이디 또는 이메일")
            input.input-underline(type="text", placeholder="비밀번호")
            +button("로그인", "#2ac1bc", "#ffffff")
            .signin-helper
                span 아이디 찾기
                span |
                span 비밀번호 찾기

        .signin-oauth-wrapper
            button.button.signin-ouath-button 페이스북으로 로그인
            button.button.signin-ouath-button 네이버로 로그인
            button.button.signin-ouath-button Apple로 로그인
            span.signin-first-txt 혹시, 배달의 민족이 처음이신가요? 
                a(href="/user/signup/term") 회원가입