include bottom-menu-item

.main-bottom-menu
    +bottom-menu-item("배민페이 등록", "배민페이로 결제하면 최대 5.5% 배민포인트가 적립됩니다!")
    +bottom-menu-item("가족계정 관리", "결제수단을 공유해 우리가족의 끼니를 챙겨주세요.")
    +bottom-menu-item("공지사항")
    +bottom-menu-item("배민커넥트 지원")
