include grid-menu-item

.main-menu
    +grid-menu-item("/assets/icons/coin.png", "포인트")
    +grid-menu-item("/assets/icons/coupon.png", "쿠폰함")
    +grid-menu-item("/assets/icons/gift.png", "선물함")
    +grid-menu-item("/assets/icons/heart.png", "찜")
    +grid-menu-item("/assets/icons/receipt.png", "주문내역")
    +grid-menu-item("/assets/icons/review.png", "리뷰관리")