mixin button(text, bgColor= '#2ac1bc', color= '#ffffff', borderColor)
  button.button(style={ border: borderColor ? `1px solid ${borderColor}` : '0', 'background-color': bgColor, color })&attributes(attributes)= text
