mixin button(text, bgColor, color, borderColor)
  button.button(
    style={ border: `1px solid ${borderColor}`, 'background-color': bgColor || '#2ac1bc', color: color || '#ffffff' }
  )&attributes(attributes)= text
