mixin checkbox(text, hasDetail, labelClassName, inputClassName)
    .checkbox-wrapper
        input(type="checkbox" class= inputClassName)
        label(for="check-all-agree" class= labelClassName)
            .checkbox-left
                i
                | #{text}
            if hasDetail
                img.chevron-right(src= "/assets/icons/chevron-right.png")