@import 'common/input.css';

.signup-phone-next-page {
  cursor: default;
  color: var(--color-gray300);
}

.signup-phone-next-page.verified {
  cursor: pointer;
  color: var(--color-black);
}

.signup-phone-wrapper {
  margin-top: 90px;
  padding: 0 18px;
}

.signup-phone-validate-button {
  margin-top: 40px;
}

.signup-phone-verified-form {
  margin-top: 40px;
}

.signup-phone-reload-code {
  cursor: pointer;
  margin-top: 12px;

  text-align: right;

  font-size: 14px;
  color: var(--color-primary);
}
