@import 'common/input.css';

.error-message {
  position: absolute;

  left: 0;
  bottom: -20px;
  margin-top: 4px;
}

.signup-detail-next-page {
  cursor: default;
  color: var(--color-gray300);
}

.signup-detail-next-page.verified {
  cursor: pointer;
  color: var(--color-black);
}

.signup-detail-wrapper {
  margin-top: 90px;
  padding: 0 18px;
}

.singup-email-duplicate-button {
  padding: 10px 20px;
}

.signup-detail-input-remover {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.input-group:not(.email) {
  display: none;
}

.input-group.email.verified ~ .input-group {
  display: block;
}
