.signin-wrapper {
  padding: 0 18px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 40px;
}

.signin-form {
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signin-button {
  margin-top: 10px;
  padding: 14px 0px;

  border: none;
  border-radius: 4px;

  font-weight: 500;

  color: var(--color-white);
  background-color: var(--color-primary);
}

.signin-helper {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.signin-helper > span {
  font-size: 14px;

  color: var(--color-gray300);
}

.signin-oauth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  font-size: 12px;
}

.signin-ouath-button {
  width: 100%;
  padding: 8px 0;

  font-size: 12px;

  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}

.signin-first-txt {
  margin-top: 12px;

  font-size: 12px;
  color: var(--color-gray400);
}

.signin-first-txt > a {
  cursor: pointer;
  color: var(--color-primary);
}
